/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
hr {
	max-width: 66%;
	margin: 0 auto
}

.text-center {
	text-align: center;
}

.quote-dark {
	color: white;
	background-color: #424242;
	border-radius: 3px;
	margin-bottom: -10px;
}

.bottom-arrow {
    display: inline-block;
		position: relative;
		left: 84%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    border-color: #424242 transparent transparent transparent;
}

.status {
	background-color: #ef5f3c;
	height: 10px;
}

.orange {
	color: #ef5f3c;
}

.hovering {
	box-shadow: 1px 2px 2px rgb(211,211,211, .33);
}

.content {
	padding: 15px;
	color: #777777;
}

.footlink {
	font-style: italic;
	color: #20a1d4;
	text-decoration: none;
	font-size: small;
}

#donationModule {
	max-width: 260px;
	margin: 2em auto;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 15px;
}

#fundsNeeded {
	padding: 9px;
}

#donorBlast {
	border: thin solid lightgrey;
}

#donorBlast #statusBar {
	background-color: #eaeaea;
	border-bottom: thin solid lightgrey;
}

#donorBlast .grid {
	display: grid;
	grid-template-columns: 105px 105px;
	grid-gap: 0 12px;
	margin: 6px 0;
}

#donorBlast .grid input {
	font-size: 12pt;
}

#donorBlast .grid button {
	color: white;
	background-color: #1cbc2c;
	border-radius: 3px;
	border: none;
	font-size: 12pt;
	font-weight: 200;
	box-shadow: none;
}

#donationInput {
	border: thin solid black;
	border-radius: 3px;
	height: 45px;
	padding: 6px;
}

#toolbar {
	text-align: center;
	display: grid;
	grid-template-columns: 120px 120px;
	grid-gap: 0 20px;
	margin: 6px auto;
}

#toolbar button {
	padding: 8px;
	background-color: #eaeaea;
	border-radius: 3px;
	border: thin solid lightgrey;
	font-size: small;
	font-weight: 200;
}
